<ul class="profession__list list-reset" style="z-index: 10">
      <li class="profession__item"><a href="/professions/{{ prof.id }}/overview/" class="profession__link">Обзор</a></li>
      <li class="profession__item"><a href="/professions/{{ prof.id }}/vostr/" class="profession__link">Востребованность</a></li>
      <li class="profession__item"><a href="/professions/{{ prof.id }}/geo/" class="profession__link">География</a></li>
      <li class="profession__item"><a href="/professions/{{ prof.id }}/year/" class="profession__link">Навыки</a></li>
</ul>