{% load static %}
{% load normal_date %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <link rel="stylesheet" href="{% static 'fonts/MontserratRegular.woff2' %}?reload={% random_int 1 999999 %}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{% static 'fonts/MontserratMedium.woff2' %}?reload={% random_int 1 999999 %}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{% static 'fonts/MontserratSemiBold.woff2' %}?reload={% random_int 1 999999 %}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{% static 'fonts/MontserratBold.woff2' %}?reload={% random_int 1 999999 %}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}?reload={% random_int 1 999999 %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?reload={% random_int 1 999999 %}">
    {% block head %}

    {% endblock %}
</head>
<body class="page__body">
    <header class="header" id="header">
        <div class="container">
        <nav class="nav" title="Главное меню">
          <ul class="list-reset nav__list">
            <li class="nav__item"><a href="/" class="nav__link">Главная</a></li>
            <li class="nav__item"><a href="/professions/" class="nav__link">Профессии</a></li>
            <li class="nav__item"><a href="/last_vacancies/" class="nav__link">Последние вакансии</a></li>
          </ul>
        </nav>
        </div>
        </header>
    <div class="content">
        {% block content %}

        {% endblock %}
        <footer class="footer">
            <div class="container footer__container">
                <div class="footer__text">Никифоров Роман Евгеньевич</div>
                <div class="footer__text">РИ-210948</div>
            </div>
            <a href="#header" class="go-to-top">
    <img loading="lazy" src="{% static "img/go-to-top.svg" %}" class="image" width="56" height="56" alt="Вернуться в начало">
  </a>
        </footer>
    </div>
</body>
</html>