{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
</head>
<body>
    <header>
        <a href="/">Главная</a>
        <a href="/professions/">Профессии</a>
        <a href="/year/">Востребованость</a>
        <a href="/last_vacancies/">Последнии вакансии</a>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
{#    <footer>footer</footer>#}
</body>
</html>