{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% load normal_date %}

{% block head %}
    <title>Последние вакансии</title>
{% endblock %}

{% block content %}

  <div class="site-container">
    <main class="main">
      <section class="vacancy">
  <div class="container vacancy__container">
    <h1 class="vacancy__title">Последние вакансии</h1>
    <div class="vacancy__cards cards">
        {% for item in content %}
         <div class="cards__item">
        <div class="cards__item-block"></div>
        <div class="cards__item-content">
          <div class="cards__text">
            <h3 class="cards__text-title"><a href="{{ item.alternate_url }}">{{ item.name }}</a></h3>
            <p class="cards__text-price">
                {% if item.salary %}
                    от {{ item.salary.from }} {% if item.salary.to %}до {{ item.salary.to }}{% endif %} {{ item.salary.currency|normal_cur }}
                {% else %}
                    Не указано
                {% endif %}
            </p>
          </div>
          <p class="cards__descr">
            {{ item.description|strip_tags|slice:":255" }}...
          </p>
          <div class="cards__skills">Навыки:
              {% for spec in item.specializations %}
                {{ spec.name }}
              {% endfor %}
          </div>
          <div class="cards__info">
            <div class="cards__info-location">
              <div class="cards__info-company"><a href="{{ item.employer.alternate_url }}">{{ item.employer.name }}</a></div>
              <div class="cards__info-city">{{ item.area.name }}</div>
            </div>
            <div class="cards__info-date">{{ item.published_at|to_normal_date }}</div>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </div>
</section>

    </main>
  </div>

{% endblock %}