{% extends 'base.html' %}
{% load tz %}
{% load normal_date %}
{% block content %}
    <h2>Последние вакансии hh.ru </h2>
    {% for item in content %}
        <p>Название: <a href="{{ item.alternate_url }}">{{ item.name }}</a></p>
        {% autoescape off %}
        <div>Описание: <div>{{ item.description }}</div></div>
        {% endautoescape %}
        <p>Навыки:
        {% for spec in item.specializations %}
            {{ spec.name }},
        {% endfor %}
        </p>
        <p>Компания: <a href="{{ item.employer.alternate_url }}">{{ item.employer.name }}</a></p>
        <p>Оклад:
            {% if item.salary %}
                от {{ item.salary.from }} {% if item.salary.to %}до {{ item.salary.to }}{% endif %} {{ item.salary.currency|normal_cur }}
            {% else %}
                Не указано
            {% endif %}
        </p>
        <p>Регион: {{ item.area.name }}</p>
        <p>Дата публикации: {{ item.published_at|to_normal_date }}</p>
        <h1>==============</h1>
    {% endfor %}

{% endblock %}