{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>О профессии</title>
{% endblock %}

{% block content %}
  <div class="site-container">
    <main class="main">
      <section class="profession">
  <div class="container profession__container">
    <h1 class="profession__title">{{ prof.name }}</h1>
    {% include "app/include/prof_head.html" %}
      {% for desc in prof_descs %}
        <h1 class="profession__title">{{ desc.professiondescriptionblock__title }}</h1>
          <style>.hero__text > p {
              margin-bottom: 0;
          }</style>
        <div class="hero__text">
        {% autoescape off %}
         {{ desc.professiondescriptionblock__description }}
        {% endautoescape %}
        </div>
    {% endfor %}
  </div>
</section>
    </main>
</div>
{% endblock %}