{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>Навыки</title>
{% endblock %}
{% block content %}
  <div class="site-container">
    <main class="main">
      <section class="skills">
          <img loading="lazy" src="{% static "img/skills-decor1.svg" %}" class="image skills__decor1" width="241" height="226" alt="">
          <img loading="lazy" src="{% static "img/skills-decor2.svg" %}" class="image skills__decor2" width="136" height="134" alt="">
          <img loading="lazy" src="{% static "img/skills-decor3.svg" %}" class="image skills__decor3" width="290" height="290" alt="" style="z-index: -1; user-select: none">
          <img loading="lazy" src="{% static "img/skills-decor2.svg" %}" class="image skills__decor4" width="136" height="134" alt="">
          <img loading="lazy" src="{% static "img/skills-decor1.svg" %}" class="image skills__decor5" width="241" height="226" alt="">
          <img loading="lazy" src="{% static "img/skills-decor3.svg" %}" class="image skills__decor6" width="290" height="290" alt="">
  <div class="container skills__container">
  <h1 class="profession__title">{{ prof.name }}</h1>
    {% include 'app/include/prof_head.html' %}
    <h1 class="skills__title">Навыки</h1>
    <div class="skills__content">
      <img loading="lazy" src="{% static "img/skillsImg.svg" %}" class="skills__image image" width="662" height="583" alt="Список навыков" />
      <div class="skills__right">
        <h2 class="skills__right-title">Топ навыков {{ year.year }}</h2>
        <table class="skills__table">
            <tbody class="skills__table-body">
            {% for year_skill in skills %}
                <tr class="skills__table-row">
                <td class="skills__table-descr">{{ year_skill.weight }}%</td>
                <td class="skills__table-descr">{{ year_skill.name }}</td>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
    </main>
  </div>
{% endblock %}