{% extends "base.html" %}

{% block head %}
    <title>Профессии</title>
{% endblock %}

{% block content %}
  <div class="site-container">
    <main class="main">
      <section class="professions">
  <div class="container professions__container">
    <h1 class="professions__title">Доступные профессии:</h1>
    <ul class="professions__list list-reset">
    {% if profs %}
        {% for prof in profs %}
        <li class="professions__item"><a href="/professions/{{ prof.id }}/overview/" class="professions__link">{{ prof.name }}</a></li>
        {% endfor %}
    {% else %}
        <h2 class="profession__title">Нет данных</h2>
    {% endif %}

    </ul>
  </div>
</section>
    </main>
  </div>
{% endblock %}